<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.wms.dao.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.xy.wms.vo.Warehouse">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_number" jdbcType="INTEGER" property="goodsNumber" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="is_valid" jdbcType="INTEGER" property="isValid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_id, goods_number, create_date, update_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from warehouse
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from warehouse
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xy.wms.vo.Warehouse">
    insert into warehouse (id, goods_id, goods_number, 
      create_date, update_date, is_valid
      )
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{goodsNumber,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{isValid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xy.wms.vo.Warehouse">
    insert into warehouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsNumber != null">
        goods_number,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xy.wms.vo.Warehouse">
    update warehouse
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsNumber != null">
        goods_number = #{goodsNumber,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        is_valid = #{isValid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xy.wms.vo.Warehouse">
    update warehouse
    set goods_id = #{goodsId,jdbcType=INTEGER},
      goods_number = #{goodsNumber,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByParams" parameterType="com.xy.wms.query.WarehouseQuery" resultType="com.xy.wms.vo.Warehouse">
    SELECT
    W.*,G.goods_name,G.goods_cost_price,G.goods_sale_price,T.type_name
    FROM
    warehouse W LEFT JOIN goods G ON W.goods_id = G.id LEFT JOIN goods_type T ON G.goods_type_id = T.id
    <where>
      w.is_valid = 1
      <if test="goodsId != null and goodsId != ''">
        and w.goods_id like concat('%',#{goodsId},'%')
      </if>
      <if test="goodsName != null and goodsName != ''">
        and G.goods_name like concat('%',#{goodsName},'%')
      </if>
    </where>
  </select>

  <select id="queryAllGoods" resultType="map">
    SELECT id,goods_name FROM goods where is_valid = 1
  </select>

  <select id="queryGoodsByName" parameterType="java.lang.String" resultType="com.xy.wms.vo.Warehouse">
    select warehouse.*  from warehouse JOIN	goods where warehouse.goods_id=goods.id and goods_name=#{goodsName}
  </select>
  <update id="deleteBatch">
    update
    warehouse
    set
    is_valid = 0
    where
    id
    in
    <foreach collection="array" separator="," open="(" close=")" item="id">
      #{id}
    </foreach>
  </update>

  <select id="newQuerygoodsByName" resultType="java.lang.String" parameterType="java.lang.Integer">
    select goods_name from goods where id=#{goodsId}
  </select>

  <select id="selectByGoodsId" parameterType="int" resultType="com.xy.wms.vo.Warehouse">
    SELECT <include refid="Base_Column_List" />
    FROM warehouse 
    WHERE is_valid=1 and goods_id=#{goodsId}
  </select>

  <update id="updateByGoodsId">
    UPDATE warehouse SET goods_number=#{sum},update_date=now() WHERE goods_id=#{goodsId};
  </update>

  <select id="inventoryOverview" resultType="com.xy.wms.vo.report.InventoryOverviewQuery">
    SELECT g.goods_name, w.goods_number FROM warehouse w join goods g on w.goods_id=g.id ORDER BY w.goods_number LIMIT 25
  </select>
  
  <select id="queryInventory" resultType="int">
    SELECT SUM(goods_number) FROM warehouse WHERE is_valid=1
  </select>

  <select id="loadRadarChart" resultType="int">
    SELECT sum from goods_type gt LEFT JOIN (SELECT SUM(goods_number) sum,goods_type_id FROM `warehouse` w JOIN goods g on w.goods_id=g.id WHERE w.is_valid=1 GROUP BY goods_type_id ORDER BY goods_type_id) wg
    on gt.id = wg.goods_type_id WHERE gt.is_valid=1 ORDER BY gt.id
  </select>

</mapper>